body{
  background:#868686d8;
  text-align: center;
  overflow: auto;
  margin :2mm auto;
  height: 1mm;
}
header{
  background:#777777;
  border: 1mm solid #656565;
  margin: 1.0mm;
}
h1{
  font-family: sans-self;
  font-size: 18mm;
  margin: -0.5mm;
}
img{
  max-width:10.0mm;
  max-height:10.0mm;
}
#cidy{
  max-width: 20mm;
  max-height:20mm;
  position: relative;
  right: 5mm;
}
#barra{
  max-width: 10mm;
  margin:1mm 1mm;
  max-height: 10mm;
  float:left;
}
footer{
  margin: 2mm;
  background: #828282;
  border: 1mm solid #5b5b5b;
}
.imagem{
  margin: 2mm;
    text-decoration: none;
   background-color: #bebebed8;
   border: 0.5mm solid #858585d8;
    color: #520078d8;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}
input[type="text"],
input[type="email"]{
    margin: 1mm;
    background-color: #f1f1f1; 
    border: 1px solid #ccc; 
    padding: 10px; 
    width: 80%; 
    box-sizing: border-box;
    font-family: sans-serif; 
    transition: 0.2s ease all; 
    } 